backend/wf_fixed.json
{"updatedAt": "2026-05-14T22:23:03.043Z", "createdAt": "2026-05-14T21:42:15.104Z", "id": "U7fHPfZF9vwTdF28", "name": "My workflow", "description": null, "active": true, "isArchived": false, "nodes": [{"parameters": {"httpMethod": "POST", "path": "fittracker-events", "authentication": "headerAuth", "options": {}}, "type": "n8n-nodes-base.webhook", "typeVersion": 2.1, "position": [0, 0], "id": "8b018827-111e-4cdf-ab53-cbd4bd0f3f9b", "name": "Webhook", "webhookId": "a3785d44-3b73-4d2c-9ab9-3eab80eb806b", "credentials": {"httpHeaderAuth": {"id": "UfpjcuDpAGiqFPjZ", "name": "Header Auth account"}}}, {"parameters": {"method": "POST", "url": "http://localhost:3000/api/v1/n8n/build-promt", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "x-n8n-secret", "value": "6e64aad89b97f393b01d82045bd5c1c664947faf57fe692c258e788372893c3b"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ JSON.stringify($json) }}\n", "options": {}}, "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.4, "position": [208, 0], "id": "76760a12-2c4c-449a-aaf9-e7915028d0f7", "name": "HTTP Request"}, {"parameters": {"modelId": {"__rl": true, "value": "claude-haiku-4-5-20251001", "mode": "list", "cachedResultName": "claude-haiku-4-5-20251001"}, "messages": {"values": [{"content": "={{ $json.prompt }}\n"}]}, "options": {}}, "type": "@n8n/n8n-nodes-langchain.anthropic", "typeVersion": 1, "position": [320, -144], "id": "e9fdfa31-17de-45bb-b1df-fe951c315743", "name": "Message a model", "credentials": {"anthropicApi": {"id": "vMBrW4voEmXQMqNv", "name": "Anthropic account"}}}, {"parameters": {"method": "POST", "url": "http://localhost:3000/api/v1/n8n/callback", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "x-n8n-secret", "value": "6e64aad89b97f393b01d82045bd5c1c664947faf57fe692c258e788372893c3b"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"accountId\": \"{{ $('Webhook').item.json.accountId }}\",\n  \"event\": \"{{ $('Webhook').item.json.event }}\",\n  \"suggestionType\": \"{{ $('HTTP Request').item.json.suggestionType }}\",\n  \"suggestion\": \"{{ $json.content[0].text }}\"\n}\n", "options": {}}, "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.4, "position": [608, 0], "id": "cbea5bf3-f965-40b8-b957-aa7e6ea49473", "name": "HTTP Request1"}], "connections": {"Webhook": {"main": [[{"node": "HTTP Request", "type": "main", "index": 0}]]}, "HTTP Request": {"main": [[{"node": "Message a model", "type": "main", "index": 0}]]}, "Message a model": {"main": [[{"node": "HTTP Request1", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "binaryMode": "separate"}, "staticData": null, "meta": {"templateCredsSetupCompleted": true}, "pinData": {}, "versionId": "d86bedc0-fc81-4677-92a2-be28e54cac3a", "activeVersionId": "d86bedc0-fc81-4677-92a2-be28e54cac3a", "versionCounter": 154, "triggerCount": 1, "shared": [{"updatedAt": "2026-05-14T21:42:15.104Z", "createdAt": "2026-05-14T21:42:15.104Z", "role": "workflow:owner", "workflowId": "U7fHPfZF9vwTdF28", "projectId": "IhtlVLXSfcneaNpb", "project": {"updatedAt": "2026-05-14T21:36:28.188Z", "createdAt": "2026-05-14T21:35:32.802Z", "id": "IhtlVLXSfcneaNpb", "name": "CAMILO GONZALEZ <gonzalezcamilo437@gmail.com>", "type": "personal", "icon": null, "description": null, "creatorId": "5ea7d06f-6843-45fc-8da6-63457f122490"}}], "tags": [], "parentFolder": null, "activeVersion": {"updatedAt": "2026-05-14T22:23:03.046Z", "createdAt": "2026-05-14T22:23:03.046Z", "versionId": "d86bedc0-fc81-4677-92a2-be28e54cac3a", "workflowId": "U7fHPfZF9vwTdF28", "nodes": [{"parameters": {"httpMethod": "POST", "path": "fittracker-events", "authentication": "headerAuth", "options": {}}, "type": "n8n-nodes-base.webhook", "typeVersion": 2.1, "position": [0, 0], "id": "8b018827-111e-4cdf-ab53-cbd4bd0f3f9b", "name": "Webhook", "webhookId": "a3785d44-3b73-4d2c-9ab9-3eab80eb806b", "credentials": {"httpHeaderAuth": {"id": "UfpjcuDpAGiqFPjZ", "name": "Header Auth account"}}}, {"parameters": {"method": "POST", "url": "http://localhost:3000/api/v1/n8n/build-promt", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "x-n8n-secret", "value": "6e64aad89b97f393b01d82045bd5c1c664947faf57fe692c258e788372893c3b"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ JSON.stringify($json) }}\n", "options": {}}, "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.4, "position": [208, 0], "id": "76760a12-2c4c-449a-aaf9-e7915028d0f7", "name": "HTTP Request"}, {"parameters": {"modelId": {"__rl": true, "value": "claude-haiku-4-5-20251001", "mode": "list", "cachedResultName": "claude-haiku-4-5-20251001"}, "messages": {"values": [{"content": "={{ $json.prompt }}\n"}]}, "options": {}}, "type": "@n8n/n8n-nodes-langchain.anthropic", "typeVersion": 1, "position": [320, -144], "id": "e9fdfa31-17de-45bb-b1df-fe951c315743", "name": "Message a model", "credentials": {"anthropicApi": {"id": "vMBrW4voEmXQMqNv", "name": "Anthropic account"}}}, {"parameters": {"method": "POST", "url": "http://localhost:3000/api/v1/n8n/callback", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "x-n8n.secret", "value": "6e64aad89b97f393b01d82045bd5c1c664947faf57fe692c258e788372893c3b"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"accountId\": \"{{ $('Webhook').item.json.accountId }}\",\n  \"event\": \"{{ $('Webhook').item.json.event }}\",\n  \"suggestionType\": \"{{ $('HTTP Request').item.json.suggestionType }}\",\n  \"suggestion\": \"{{ $json.content[0].text }}\"\n}\n", "options": {}}, "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.4, "position": [608, 0], "id": "cbea5bf3-f965-40b8-b957-aa7e6ea49473", "name": "HTTP Request1"}], "connections": {"Webhook": {"main": [[{"node": "HTTP Request", "type": "main", "index": 0}]]}, "HTTP Request": {"main": [[{"node": "Message a model", "type": "main", "index": 0}]]}, "Message a model": {"main": [[{"node": "HTTP Request1", "type": "main", "index": 0}]]}}, "authors": "CAMILO GONZALEZ", "name": null, "description": null, "autosaved": true, "workflowPublishHistory": [{"createdAt": "2026-05-15T03:38:24.273Z", "id": 1, "workflowId": "U7fHPfZF9vwTdF28", "versionId": "d86bedc0-fc81-4677-92a2-be28e54cac3a", "event": "activated", "userId": "5ea7d06f-6843-45fc-8da6-63457f122490"}]}, "scopes": ["workflow:create", "workflow:delete", "workflow:execute", "workflow:execute-chat", "workflow:list", "workflow:move", "workflow:publish", "workflow:read", "workflow:share", "workflow:unpublish", "workflow:unshare", "workflow:update", "workflow:updateRedactionSetting"], "checksum": "f593a158b19f24725476aac566cb0bacde2473a4921431310f2481a899921a38"}